<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241618082082-0j84qvd9sr02aq44d4beqch2mabp30eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241618082082-0j84qvd9sr02aq44d4beqch2mabp30eh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241618082082-hkg6dp7itnsrv7l6rlic6plmv4sv7gmm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzzaHsJ4zY-1dWOi7qtapbVRiHYJGiQcs</string>
	<key>GCM_SENDER_ID</key>
	<string>241618082082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.awesomeApp.dev</string>
	<key>PROJECT_ID</key>
	<string>awsome-base</string>
	<key>STORAGE_BUCKET</key>
	<string>awsome-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241618082082:ios:51a30340239b36449eed7b</string>
</dict>
</plist>